.breadcrumbs {
  margin-top: 42px;
  margin-bottom: 16px;
}
.breadcrumbs__list {
  display: flex;
  font-family: 'Open Sans';
  font-style: italic;
  list-style-type: none;
  font-size: 14px;
}

.breadcrumbs__item {
  display: inline-block;
  vertical-align: middle;
 
}

.breadcrumbs__item:before {
  content: "/";
  padding-left: 5px;
}

.breadcrumbs__item:first-child:before {
  display: none;
}

.breadcrumbs__separator {
  display: inline-block;
}

.breadcrumbs__link {
  color: rgba(248,149,19, 0.8);
  text-decoration: underline;
}
.breadcrumbs__link-active {
  color: rgba(34,31,31,0.8);
  text-decoration: none;
}