.infoblock {
  background-image: url("/img/feeds/pattern.png");
  height: 171px;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-bottom: 54px;
}

.infoblock__content {
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 1.67;
  width: 636px;
}

.infoblock__content b {
  color:#f89513;
}