.footer {
  background-color: #131415;
  height: 77px;
  overflow: hidden;
  display: flex;
}

.container_footer {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__col {
  width: 33.3%;
}

